
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */
	.svg-fondo {
		position: fixed;
		top: 0;
		left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
		box-sizing: border-box;
		display: block;
		background-color: #0000;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0), #000000);
	}

  .logo {
  width: 25vw;
}

@media (max-width: 768px) {
  .logo {
    width: 75vw;
  }
}

@media (min-width: 576px) {
  .fs-sm-5 {
    font-size: 1.25rem;
  }
}