
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */

 body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  background: radial-gradient(
    circle at var(--x) var(--y),
    rgba(255,255,255,0.35) 0%,
    rgba(255,255,255,0.35) 0.2%,
    rgba(255,255,255,0.05) 0.2%,
    black 4%
  );

  transition: background 0.05s linear;
}
      